doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin
    link(rel="stylesheet", href="/css/adminStyles.css")
  body
    .dashboard
      aside 
        h1: a(href="/admin-overview") Administration 
        .links
          a(href="/all-users") Registered Users
          a(href="/all-complaints") View Complaints 
          a#logoutAdmin(href="/admin") Logout
      section  
        block content
    script(src="/js/bundle.js")
