extends baseEmail 

block content
  p Dear #{firstName},
    p We are writing to inform you that your account with Crime Reporting System has been deleted. 
    p If you did not initiate this action or have any questions regarding your account deletion, please feel free to contact our support team at - crs@mail.com.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td                  
    p Thank you for being a part of our system. We appreciate your understanding.