header.header.header-shadow 
  nav.nav
    if user 
      //- a.nav__el(href="/") Home
      a.nav__el#logout(href="/") Logout
    else
      a.nav__el(href="/") Home
      a.nav__el(href="/register") Register 
      a.nav__el(href="/login") Login 