extends base
block content 
  main.home
    .main__img
      .main__text-box
        h1.heading-primary Be the voice!
        p Report a crime
        | 
        a(href="http://127.0.0.1:8000/login") Online
        img(src="/img/click.png", alt="Mouse")
    section
      h2.heading-secondary.heading-topic About online crime reporting system
      p.section__description Online Crime reporting system stands as a web-based application with the primary objective of offering individuals to take an active role in reporting and addressing incidents of crime and suspicious activities.  Our system provides a user-friendly interface that enables users to easily submit reports from any device with internet access.
      p.section__description We understand the importance of confidentiality and security when reporting sensitive information. That's why our system employs encryption and privacy measures to safeguard your data. Rest assured that your identity and personal information will be protected throughout the reporting process.
      p.section__description Join us in making a difference.