extends base
block content 
  
  .main
    h2.heading-secondary Account Settings
    .profile
      .profile__image__box
        form.user-photo
          img.form__user-photo(src=`/img/users/${user.photo}` alt="User photo")
          input.form__upload(type="file" accept="image/*" id="photo" name="photo") 
          label(for="photo") Choose new photo
          button.btn.btn--save-photo Upload
      form.user-data
        .form__group
          label.form__label(for="currentPassword") Current password 
          input#currentPassword.form__input(type="password" placeholder="••••••••••" required)
        .form__group
          label.form__label(for="password") New password 
          input#password.form__input(type="password" placeholder="••••••••••" required)
        .form__group
          label.form__label(for="confirmPassword") Confirm password 
          input#confirmPassword.form__input(type="password" placeholder="••••••••••" required)
        .form__group 
          button.btn.btn--save-password Update password
        
