extends base
block content

  main.main
    .form__container.register-form
      h2.heading-secondary Register
      form.form.form--register
        .form__group__box
          .form__group
            label.form__label(for="first-name") First name
            input#first-name.form__input(type="text"  placeholder="Enter your first name" )
          .form__group
            label.form__label(for="last-name") Last name
            input#last-name.form__input(type="text"  placeholder="Enter your last name" )
          .form__group
            label.form__label(for="age") Age
            input#age.form__input(type="number"  placeholder="Enter your age" min="5" max="120" )
          .form__group
            label.form__label(for="gender") Gender
              select#gender.select
                option(value="male") Male 
                option(value="female") Female 
                option(value="others") Others 
          .form__group 
            label.form__label(for="address") Address
            input#address.form__input(type="text"  placeholder="Enter your address" )
          .form__group
            label.form__label(for="email") Email address
            input#email.form__input(type="text"  placeholder="you@example.com" )  
          .form__group
            label.form__label(for="password") Password 
            input#password.form__input(type="password"  placeholder="••••••••••" )
          .form__group 
            label.form__label(for="confirmPassword") Confirm Password 
            input#confirmPassword.form__input(type="password" placeholder="••••••••••")
        .form__group 
          input.form-btn.register(type="submit" value='REGISTER')
