extends base
block content 
  .user__panel 
    h2.headline.headline-user Welcome, #{user.firstName}
    .user__box
      .user__panel__links 
        a.user__panel__el(href="/my-account") Account Settings
        a.user__panel__el(href="/register-complain") Log complaint 
        a.user__panel__el(href="/my-complaints") My complaints
      .img__container.img__container--user
        img(src="/img/crime.webp")