* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 85vh;
  margin: 5rem;
  background-color: #dde;
}

body::before {
  content: "";
  display: block;
  width: 100%;
  height: 6rem;
  background-color: #444;
  box-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.3);
}

.dashboard {
  /* margin: 0 auto; */
  display: flex;
  height: 80vh;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  box-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.3);
}

aside {
  width: 25%;
  background: #edede9;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 999;
  box-shadow: 0 0.75rem 0.5rem rgba(0, 0, 0, 0.9);
}

aside h1 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 1rem 0;
  margin: 0 auto;
  margin-top: 3.5rem;
  font-size: 2.5rem;
}

h1 a {
  color: #222;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.links {
  margin: 0 auto;
  margin-top: 2rem;
}

.links a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #777;
  font-weight: bold;
  margin: 0.75rem 0;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.1s;
  border: none;
  outline: none;
}

.links a:hover {
  color: #444;
  transform: translateY(-1px);
}

section {
  background-color: #edede9;
  width: 100%;
  position: relative;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
  align-items: center;
  height: 90%;
}

.dashboard-wrapper .section-summary {
  height: 100%;
}

.summary {
  margin-bottom: 2.5rem;
}

.heading-summary {
  font-size: 2.25rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-group {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  column-gap: 2rem;
  row-gap: 1rem;
}

.card-group p {
  font-size: 1.85rem;
  text-transform: capitalize;
  padding: 0.5rem;
  height: fit-content;
  /* background: #e5e5e5; */
  background: #d1d1d195;
  border-radius: 10px;
  border: 1px solid rgba(194, 194, 194, 0.422);
  color: #222;
}

.card-group p span {
  font-size: 5rem;
  font-weight: bold;
  display: block;
  color: #555;
}

.dashboard-card p:last-child {
  font-size: 5rem;
  font-weight: bold;
}

.dashboard-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.img-dashboard {
  width: 70%;
  border-radius: 5%;
  filter: drop-shadow(0px 5px 5px #666);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.section__inner {
  height: 95%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: #222;
  padding: 0.5rem;
}

.table {
  margin: 0 auto;
  font-size: 1.5rem;
  height: 84%;
  width: 100%;
}

.table__header {
  width: 100%;
  height: 5%;
}

.table__header {
  width: 100%;
  height: 12%;
}

.table__body {
  width: 100%;
  max-height: 95%;
  margin: 2.5rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  background-color: #f7f7f7;
}

.table__body table thead {
  color: #f7f7f7;
}

.table__body table tbody {
  color: #777;
}

.table__body::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.table__body::-webkit-scrollbar-thumb {
  border: 0.75rem;
  border-radius: 1rem;
  background-color: #369;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.select-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-group div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-group div p {
  min-width: fit-content;
  font-weight: bold;
}

.select-group div select {
  background-color: #e9e9e9;
  color: #222;
  border: 1px solid #222;
  border-radius: 2px;
  outline-offset: -1px;
  height: 3rem;
  max-width: 40%;
}

.num-results {
  font-weight: bold;
}

#sort-type-complaint {
  max-width: fit-content;
}

#sort-type-user {
  max-width: fit-content;
}

.btn-sort {
  background: #222;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

table {
  width: 100%;
}

table,
th,
td {
  padding: 0.6rem;
  min-width: 130px;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #444;
}

tbody tr {
  color: #222;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:hover {
  background-color: #fff;
}

tr td .cta,
tr td .cta:visited {
  color: seagreen;
  text-decoration: none;
}

tr td .user {
  text-decoration: none;
  color: #222;
}

tr td .user:hover {
  text-decoration: underline;
}

tr td img {
  max-width: 5rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.del-user {
  background: #eb4d4b;
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

.user-info {
  background: #f7f7f7;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 42%;
  min-height: 30rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.user-info img {
  margin: 30px 0;
  width: 150px;
  border-radius: 5%;
  outline-offset: 2px;
  outline: 3px solid #bbb;
}

.user-info li {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  gap: 10rem;
  margin: 10px;
  border-bottom: 2px solid #bbb;
  padding: 5px 0;
}

.user-info li:last-child {
  border-bottom: none;
}

.user-info li p:first-of-type {
  font-weight: bold;
  width: 30%;
}

.complaint__info {
  background: #f7f7f7;
  padding: 1rem 1.5rem;
  max-width: 80%;
  min-height: 92%;
  /* max-height: 95%; */
  color: #222;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  /* overflow: auto; */
}

.complaint__info::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.complaint__info::-webkit-scrollbar-thumb {
  border: 0.75rem;
  border-radius: 1rem;
  background: #369;
}

.complaint__info div {
  padding: 0.5rem;
  margin: 0.75rem 0;
  display: flex;
  /* align-items: center; */
  gap: 5%;
  font-size: 1.8rem;
}

.complaint__info div:nth-last-of-type(2) {
  display: block;
  max-width: 82%;
}

.complaint__info div:nth-last-of-type(2) p:last-child {
  font-family: monospace;
  margin-top: 0.75rem;
  max-height: 120px;
  min-height: 70px;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  background-color: #e9e9e9;
  text-align: justify;
  overflow: auto;
}

.complaint__info div:nth-last-of-type(2) p:last-child::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.complaint__info div:nth-last-of-type(2) p:last-child::-webkit-scrollbar-thumb {
  border: 0.75rem;
  border-radius: 1rem;
  background-color: #369;
  visibility: hidden;
}

.complaint__info
  div:nth-last-of-type(2)
  p:last-child:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.complaint__info div p:first-child {
  width: 30%;
  font-weight: bold;
}

.complaint__info div p:last-child {
  font-family: monospace;
}

.select-status {
  background-color: #e9e9e9;
  color: #222;
  border: 1px solid #222;
  border-radius: 2px;
  outline-offset: -1px;
  height: 3rem;
  /* width: 100%; */
  text-align: center;
}

.form--updateComplaint {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 15rem;
}

select:focus {
  border: 1px solid #369;
  outline: none;
}

.complaint__info div:last-child {
  position: relative;
}

.btn__group {
  margin: -5px !important;
  display: flex;
  justify-content: space-around;
}

input[type="submit"] {
  color: #fff;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  filter: brightness(95%);
}

input[type="submit"]:hover {
  filter: brightness(100%);
}

input[value="Update"] {
  background-color: #369;
}

input[value="Delete"] {
  background-color: #eb4d4b;
}

.complaint__msg {
  color: #444;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
}
