.table {
  height: 70vh;
  width: 85vw;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.5rem;
}

.table__header {
  width: 100%;
  height: 10%;
  padding: 0.8rem 1rem;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  margin: 0.8rem auto;
  background-color: var(--color-tertiary);
  border-radius: 0.6rem;
  overflow: auto;
}

.table__body table thead {
  color: var(--color-tertiary);
}

.table__body table tbody {
  color: var(--color-secondary);
}

.table__body::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.table__body::-webkit-scrollbar-thumb {
  border: 0.75rem;
  border-radius: 1rem;
  background-color: var(--main-blue);
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.complaint__msg {
  text-align: center;
  color: var(--color-secondary);
  font-size: 2.5rem;
}

table {
  width: 100%;
}

table,
th,
td {
  padding: 1rem;
  min-width: 100px;
}

td.crimeDescription {
  max-height: 80px;
  overflow: hidden;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #444;
}

tbody tr {
  color: #222;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:hover {
  background-color: #fff;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
